{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//db.onlinewebfonts.com/c/50296ce96471759b7ec49aec9ad37f3c?family=HelveticaW02-Bold" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/1defe24e0e2e3b83ad6818d49bac06a9?family=Braggadocio" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/16efa2896f117dae2debeb23ab4715dd?family=DidoteTextW01-Italic" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/df64fcbb15.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link rel="stylesheet" href="{% static 'admission.css' %}">
    <title>Admission</title>
</head>
<body>
    <header>
        <div class="main-head">
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars" ontouchstart="touch()"></i>
                </label>
                <ul>
                    <li><a href="/" id="btrn">home</a></li>
                    <li><a href="/gallery" id="btrn">Gallery</a></li>
                    <li><a href="/admission">Admission</a></li>
                    <li><a href="/academics" id="btrn">Academics</a></li>
                    <li><a href="/contacts" id="btrn">Contacts</a></li>
                    <li><a href="#" id="btrn">Online classes</a></li>
                 </ul>
            </nav>
            <h1>AL - ISLAH ENGLISH SCHOOL</h1>
            <h2>Madathilkaranma, Oachira</h2>
        </div>
    </header>
    <main id="main">
        <div>
            <h1 id="ad" class="sid">ADMISSION</h1>
            <p id="p-ad"><em>Admission is generally offered to anyone, without consideration of caste, <br> creed, religion or sex, as per rules and regulations of the school and as long <br> as there are vacancies. However the management reserves the right to deny <br> admission to anyone without assigning any reason whatsoever. <br>

                (a) Application for admission must be made by the parent or legal guardian <br> in the prescribed from in the month of March or April during the previous <br> academic year. <br>
                
                (b) Only children who have completed three years on 1st of January of the <br> year of admission will be admitted to Lower K.G. class and same rule will be <br> followed in admission to Higher classes. <br>
                
                (c) Pupils who intend to join the AIEM from other schools or after private <br> study will have to appear for an entrance examination. Those who come from <br> other schools should also produce transfer certificates. Those who join the <br> nursery classes should produce birth certificates and Adhar. <br>
                
                (d) In the case of new admissions, fees for all previous months of the year of <br> admission will have to be paid irrespective of the term, month or date of <br> admission. <br>
                
                (e) All pupils in the primary and pre-primary classes are expected to be <br> vaccinated against small pox and to have undergone a full course of triple <br> antigen and polio vaccine before joining the school. <br>
                
                (f) Transfer Certificate will ordinarily be issued only at the end of an <br> academic year. <br>
                
                (g) Application for the Transfer Certificate should be made in writing to the <br> Principal by the parent before the end of April. <br>
                
                (h) Before granting a transfer Certificate at any other time the fee for the <br> whole term should be paid.</em></p>
        </div>
        <button class="btn">Next</button>
    </main>
    <footer>
        <div id="footer">
            <hr id="hr">
            <div class="fot">
                <span id="wm" >Website Maintained by</span>
                <span id="ut" >Utech</span>
            </div>
        </div>
    </footer>
</body>
</html>