{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//db.onlinewebfonts.com/c/50296ce96471759b7ec49aec9ad37f3c?family=HelveticaW02-Bold" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/1defe24e0e2e3b83ad6818d49bac06a9?family=Braggadocio" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/16efa2896f117dae2debeb23ab4715dd?family=DidoteTextW01-Italic" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/df64fcbb15.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link rel="stylesheet" href="{% static 'contacts.css' %}">
    <title>Contacts</title>
</head>
<body>
    <header>
        <div class="main-head">
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <ul>
                    <li><a href="\">home</a></li>
                    <li><a href="\gallery" id="btrn">Gallery</a></li>
                    <li><a href="\admission" id="btrn">Admission</a></li>
                    <li><a href="\academics" id="btrn">Academics</a></li>
                    <li><a href="\contacts" id="btrn">Contacts</a></li>
                    <li><a href="#" id="btrn">Online classes</a></li>
                </ul>
            </nav>
            <h1>AL - ISLAH ENGLISH SCHOOL</h1>
            <h2>Madathilkaranma, Oachira</h2>
        </div>
    </header>
    <main>
        <div>
            <div class="head">
                <h1 id="contact">CONTACT</h1>
                <hr style="border-top: 1px solid rgb(0, 0, 0); width: 54px;">    
            </div>
            <div id="main-contacts">
                <span>Manager Hasankunju : 9446110172, <br> 9656736366</span>
                <span>Email Id : alislah.alemschool@gmail.com</span>
                <span>Pricipal P.K Shylaja : 9497621247</span>
                <span>Vice Principal Babita MS : 7510901143</span>
            </div>
        </div>
        <div>
            <img src="https://static.wixstatic.com/media/f33e7d_1743087b104a4196a5b052a8ec4c6a75~mv2.jpg/v1/fill/w_470,h_264,al_c,q_80,usm_0.66_1.00_0.01/20200527_130428.webp" alt="img">
        </div>
    </main>
    <button class="btn">Next</button>
    <footer>
        <div id="footer">
            <hr id="hr">
            <div class="fot">
                <span id="wm" >Website Maintained by</span>
                <span id="ut" >Utech</span>
            </div>
        </div>
    </footer>
</body>
</html>