{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link href="//db.onlinewebfonts.com/c/50296ce96471759b7ec49aec9ad37f3c?family=HelveticaW02-Bold" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/1defe24e0e2e3b83ad6818d49bac06a9?family=Braggadocio" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/16efa2896f117dae2debeb23ab4715dd?family=DidoteTextW01-Italic" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/df64fcbb15.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <title>Al-Islah</title>
</head>
<body>
    <header>
        <div class="main-head">
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <ul>
                    <li><a href="\">home</a></li>
                    <li><a href="\gallery" id="btrn">Gallery</a></li>
                    <li><a href="\admission" id="btrn">Admission</a></li>
                    <li><a href="\academics" id="btrn">Academics</a></li>
                    <li><a href="\contacts" id="btrn">Contacts</a></li>
                    <li><a href="#" id="btrn">Online classes</a></li>
                </ul>
            </nav>
            <h1>AL - ISLAH ENGLISH SCHOOL</h1>
            <h2>Madathilkaranma, Oachira</h2>
        </div>
    </header>
    <main>
        <div class="chone">
            <div id="uk">
                <h1 class="oi"><em>Our Institution</em></h1>
                <p class="p1"><em>AL-ISLAH ENGLISH SCHOOL (AIES) is an ideal <br> assosiation of minority education, we promote Entertainment, <br> Experiment and Enjoyment through teaching and learning <br> process. AL- ISLAH CHARITABLE TRUST is the beacon of <br> light to our success. Holistic education is our prime goal.</em></p>    
            </div>
            <img id="img1" src="https://static.wixstatic.com/media/f33e7d_1a5a1b1b50d54ab38b8758b481b316c8~mv2.jpg/v1/fill/w_481,h_269,al_c,q_80,usm_0.66_1.00_0.01/kerala-school-759.webp" alt="img">    
        </div>
        <div class="chtwo">
            <div>
                <h1 class="oc"><em>Curriculum</em></h1>
                <p class="p2"><em>Our Institution ensures the students from KG to <br> VII a high quality education under CBSE <br> norms.It encourages intellectual characters <br> with essesntialness of communication and <br> interaction. We formulates our students to <br> obtain a variety of certification. We laids the <br> foundation of skill and overall <br> harmonious development of our <br> students to become a good citizen in the future.</em></p>
            </div>
            <img id="img2" src="https://static.wixstatic.com/media/f33e7d_adc546fe4bc14c88a720422132bda1e7~mv2.jpg/v1/fill/w_510,h_289,al_c,q_80,usm_0.66_1.00_0.01/20200527_130316.webp" alt="img">
        </div>
        <h1 id="events"><em>EVENTS</em></h1>
        <div class="chthree">
            <h1 id="vg"><em>Vegetable Garden Inaguration</em></h1>
            <div id="chthree-parent">
                <img id="vg-1" src="https://static.wixstatic.com/media/f33e7d_3f97aac50a684251b391e15c8f3c8d88~mv2.jpg/v1/crop/x_0,y_47,w_1040,h_673/fill/w_406,h_262,al_c,q_80,usm_0.66_1.00_0.01/IMG-20200527-WA0016.webp" alt="img">
                <img id="vg-2" src="https://static.wixstatic.com/media/f33e7d_094e86ab3d0f4ba99d4287906f2f5793~mv2.jpg/v1/fill/w_469,h_262,al_c,q_80,usm_0.66_1.00_0.01/IMG-20200527-WA0028.webp" alt="img">
            </div>
        </div>
        <div class="chfour">
            <h1 id="ac"><em>AIEM Carnival</em></h1>
            <div id="chthree-parent">
                <img id="ac-1" src="https://static.wixstatic.com/media/f33e7d_7695f0d44fc946b7a7bbb39a2830eede~mv2.jpg/v1/fill/w_394,h_290,al_c,q_80,usm_0.66_1.00_0.01/IMG-20200527-WA0015.webp" alt="img">
                <img id="ac-2" src="https://static.wixstatic.com/media/f33e7d_f3679f3e651c469b9fddacb75274c1db~mv2.jpg/v1/fill/w_396,h_290,al_c,q_80,usm_0.66_1.00_0.01/IMG-20200527-WA0014.webp" alt="img">
            </div>
        </div>
        <div class="chfive">
            <h1 id="cc"><em>Christmas Celebration</em></h1>
            <div id="chthree-parent">
                <img id="cc-1" src="https://static.wixstatic.com/media/f33e7d_3464ea4ba4054bc389acc2228d402696~mv2.jpg/v1/fill/w_422,h_237,al_c,q_80,usm_0.66_1.00_0.01/20191224_101857.webp" alt="img">
                <img id="cc-2" src="https://static.wixstatic.com/media/f33e7d_cff2142c1eea436da25fa76a9b41ebd3~mv2.jpg/v1/fill/w_269,h_350,al_c,q_80,usm_0.66_1.00_0.01/IMG-20200527-WA0018.webp" alt="img">
            </div>
        </div>
        <div class="chsix">
            <h1 id="fd"><em>KG Fruits Day</em></h1>
            <div id="chthree-parent">
                <img id="fd-1" src="https://static.wixstatic.com/media/f33e7d_80c729c606cc4579956825a1ffeb1e69~mv2.jpg/v1/fill/w_472,h_260,al_c,q_80,usm_0.66_1.00_0.01/IMG-20200527-WA0033.webp" alt="img">
                <img id="fd-2" src="https://static.wixstatic.com/media/f33e7d_5423364ffe7a409ebb63499206672454~mv2.jpg/v1/fill/w_229,h_400,al_c,q_80,usm_0.66_1.00_0.01/IMG-20200527-WA0029.webp" alt="img">
            </div>
        </div>
        <button class="btn">Next</button>
    </main>
    <footer>
        <div id="footer">
            <hr id="hr">
            <div class="fot">
                <span id="wm" >Website Maintained by</span>
                <span id="ut" >Utech</span>
            </div>
        </div>
    </footer>
</body>
</html>